.c-hero--home {
    background-color: var(--color-primary-60);
    background: url('../../imagenes/familia-en-sala-hero-bg-m.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    width: 100%;
    transition: all .3s ease-in-out;
    /* z-index: 1; */
    position: relative;
    height: calc(90vh);
    animation: hero-home-mobile 25s infinite ease-in;
}

@media only screen and (min-width: 720px) {

    .c-hero--home {
        background: url('../../imagenes/familia-en-sala-hero-bg-l.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: calc(75vh);
        animation: hero-home-desktop 25s infinite ease-in;
    }

}

.c-hero__wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    /*width: 89%;*/
    height: 100%;
}

@media only screen and (min-width: 720px) {
    .c-hero__wrapper {
        flex-flow: row nowrap;
        width: 100%;
    }
}

.c-hero__wrapper--background {
    background-color: rgb(5, 37, 47, .5);    
}

.c-hero__text {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

@media only screen and (min-width: 720px) {
    .c-hero__text {
        margin-bottom: 0;
        width: 50.6%;
    }
}

.c-hero__text--home {
    width: 90%;
    margin: auto;
}

@media only screen and (min-width: 720px) {
    .c-hero__text-home {
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }
}

.c-hero__title-wrapper {
    margin-bottom: 15px;
}

.c-hero__image-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
}

@media only screen and (min-width: 720px) {
    .c-hero__image-wrapper {
        width: 42%;
    }
}

.c-hero__image-wrapper--sections {
    margin-bottom: 40px;
}

.c-hero__image {
    display: flex;
}

@media only screen and (min-width: 720px) {
    .c-hero__image {
        display: none;
    }
}

.c-hero__image--desktop {
    display: none;
}

@media only screen and (min-width: 720px) {
    .c-hero__image--desktop {
        display: flex;
    }
}