.c-instalations--home {
    background: url('../../imagenes/instalaciones-background--orange.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--color-primary-10);
    height: auto;
    padding-top: 30px;
    padding-bottom: 50px;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 1300px) {
    .c-instalations--home {
        background: url('../../imagenes/instalaciones-background--orange.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.c-instalations__wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 89%;
}

@media only screen and (min-width: 1300px) {
    .c-instalations__wrapper {
        width: 100%;
    }
}

.c-intalations__title-wrapper {
    margin-bottom: 15px;
}

.c-instalations__wrapper--secundary {
    margin-bottom: 40px;
}

.c-instalations__items {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (min-width: 1300px) {
    .c-instalations__items {
        flex-flow: row nowrap;
        margin: 15px auto;
    }
}

@media only screen and (min-width: 1300px) {
    .c-instalations__items--secundary {
        margin-bottom: 25px;
    }
}